.guaranteeBadge{
    width: 3rem;
    margin: 0 auto -1.5rem;
    z-index: 2;
  
    
}

.basicDog-container{
background-color: rgb(247, 245, 243);
padding-bottom: 30px;
        padding-top: 30px;
margin-bottom: 90px;

}
.basicDog{
    margin: 0 5% -1.5rem;
    width: 16rem;
    display: inline-block;
}

.maindivimg{
    display: flex;
    flex-direction: column;
    border-bottom: 0.15rem solid #1e5d84;
    width: 60%;
    margin: 0 auto 3.5rem;
    max-width: 78rem;
}
.customerLove-D{
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    color: #1E5D84;
}

.ourProfessional-D{
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    color: #1E5D84;
}



@media (max-width: 760px){

.basicDog{
  
    width: 14rem;
    margin: 0 2% -1.5rem;
}
.guaranteeBadge{
    width: 2.5rem;
    margin: 0 auto -1.2rem;
    z-index: 2;
  
    
}

.maindivimg{
    display: flex;
    flex-direction: column;
    border-bottom: 0.10rem solid #1e5d84;
    width: 90%;
    margin: 0 auto 2rem;
    /* margin-bottom: 30px; */
    
    
}
.ourProfessional-D{
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    color: #1E5D84;
}
.basicDog-container{
    background-color: rgb(247, 245, 243);
    padding-bottom: 40px;
    
    
    }

}